<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meti. Robati</title>
    <style>
        .container {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: blue;
            flex-direction: column;
        }

        .date-container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #submit {
            font-size: 2em;
            margin-top: 20px;
            padding: 20px;
            width: 400px;
            background-color: brown;
            color: white;
            border: 0px;
            border-radius: 10px;
        }

        #submit:hover {
            cursor: pointer;
        }
    </style>
</head>

<body class="container">
    <h1>Mehdi Robati</h1>
    <h2>M.A. Photography Project</h2>
    <br>
    <h1>Feed</h1>
    <br>
    <% for(let i=0; i<data.length; i++) { %>
        <iframe src="https://www.instagram.com/p/<%=data[i].shortcode%>/embed" width="400" height="550" frameborder="0"></iframe>
        <br>
        <br>
        <% } %>
</body>

</html>